// .Header{
//     width:85%;
//     float:right;
//     text-align: center;
//     font-weight: bold;
//     font-family: Superman;
//     color: red;
//     font-size:7rem;
// }
.IMG-Header {
  width: 85%;
  float: right;
  width: 40rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
